<form class="mt-4">
    <div class="sub_menu">

        <h3>Sản phẩm của tôi</h3>
        
        <a href="/courses/create">Tạo mới sản phẩm</a>
      
    </div>
    {{#if deletedCount}}
    <a href="/me/trash/courses"</i>Sản phẩm đã xóa ({{deletedCount}})</a>
    {{/if}}


    <div class="table mt-4 d-flex align-items-center">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
        <label class="form-check-label" for="checkbox-all">
           Select All
        </label>
      </div>

      <select class="form-control form-control-sm checkbox-select-all-options" id="">
        <option>-- Select one --</option>
        <option class="deleteCheckbox">Xóa</option>
        <option class="">Hủy</option>
      </select>
      <button class="btn btn-primary btn-sm check-all-submit-btn disabled">Thực hiện</button>
    </div>


    <div class="searchSearch">
      <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
           <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
           <a href="/me/trash/courses" class="Sản phẩm đã xóa"></a>
        </form>
      </nav>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">STT</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Mô tả</th>
                <th scope="col" colspan="2">Thời gian tạo</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
                  </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                    <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-course-modal">Xóa</a>
                </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="5" class="text-center">
                Bạn chưa mua sản phẩm nào.
                <a href="/courses/create">Tạo sản phẩm</a>
              </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form> 

{{!-- Confirm delete course --}}
<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Warning Warning</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Wanna Xóa bro???</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-course-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var courseId;
        var deleteForm = document.forms['delete-course-form'];
        var btnDeleteCourse = document.getElementById('btn-delete-course');
        var checkboxAll=$('#checkbox-all');
        var courseItemCheckbox=$('input[name="courseIds[]"]');
        var checkAllSubmitBtn=$('.check-all-submit-btn');

 


        // When dialog confirm clicked
        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseId = button.data('id');
        });
        
        // When delete course btn clicked
        btnDeleteCourse.onclick = function () {
            deleteForm.action = '/courses/' + courseId + '?_method=DELETE';
            deleteForm.submit();
        }

        //checkbox all click
        checkboxAll.change(function(){
          var isCheckAll=$(this).prop('checked');
          courseItemCheckbox.prop('checked', isCheckAll);
          renderCheckAllSubmitBtn();
        });

        //checkbox one click
        courseItemCheckbox.change(function(){
          var isCheckAll=courseItemCheckbox.length===$('input[name="courseIds[]"]:checked').length;
          checkboxAll.prop('checked', isCheckAll);
          renderCheckAllSubmitBtn();
        });


        //submit button when click check box
        fucntion renderCheckAllSubmitBtn(){
          var checkedLength=$('input[name="courseIds[]"]:checked').length;
          if(checkedLength >0){
            checkAllSubmitBtn.removeClass('disabled');
          }else{
            checkAllSubmitBtn.addClass('disabled');
          }
        };

    });
</script>